#http://screenberry.baonq.me {
#        reverse_proxy http://screenberry:8080
#}

#http://selenium-hub.baonq.me {
#        reverse_proxy http://selenium-hub:4444
#}

{
    log {
        output stdout
        format console
    }
}

:80 {
        reverse_proxy minio:9000 {
                header_up Host fluffy-orbit-6vrww4jx9xh4gvv-8080.app.github.dev
        }

        #handle_path /health_check {
        #        respond "200_ok" 200
        #}

        log
}